/* Basic styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Poppins',sans-serif;
}


/* Header slide-in animation */
.header {
  position: relative;
  animation: slideDown 1s ease-out;
}

@keyframes slideDown {
  from {
      top: -100px;
      opacity: 0;
  }
  to {
      top: 0;
      opacity: 1;
  }
}

#box-shadow{
  box-shadow: inset 0px 0px 170px  #ed7e23;
  z-index: 5;
}
html,body{
  width:100%;
  height:100%;
  color: black;
  /* background-color: #ffffff; */
}
html{
  overflow: hidden;
}
body{
  overflow: auto;
  overflow-x: hidden;
}
/*.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  padding:20px 3%;
  background: #ffffff;
  border-bottom: #738da8 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo img{
  display: flex;
  width: 320px;
  height: 190px;
  margin-top: 40px;
  margin-bottom: 30px;
}


#contact{
  background: #ed7e23;
  
  color: #fff;
  border-radius:5px;
  padding: 10px 10px;

}

.navbar a{
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;

}

.navbar a:hover,
.navbar a.active {
  color: #738da8;
}*/

.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  padding:20px 3%;
  background: transparent;
  border-bottom: #ed7e23 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: background 0.4s ease-in-out; 
}

.header.scrolled {
  background: white; 
}



.logo img{
  display: flex;
  width: 320px;
  height: 190px;
  margin-top: 40px;
  margin-bottom: 30px;
}


#contact{
  background: #ed7e23;
  margin-left: 100px;
  color: #fff;
  border-radius:5px;
  padding: 10px 10px;

}

.navbar a{
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;

}

.navbar a:hover,
.navbar a.active {
  color: #738da8;
}
.hamburger{
  display:none;
  cursor:pointer;
}
.bar{
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ed7e23;
}
@media(max-width:576px){
  .header{
    height:70px;
  }
  .logo img{
    border-radius: 50%;
    /* height: 100px; */
    /* padding: 14px 0; */
    /* margin-top: 3rem; */
    /* padding-left: 17px; */
    right: 10p;
    /* position: fixed; */
    top: -2rem;
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
  .hamburger{
    display:block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 4px;
    flex-direction: column;
    background-color: #ffffff;
    width: 55%;
    /* text-align: center; */
    transition: 0.3s;
   
  }
  .nav-item{
    margin:16px 0;

  }
  .nav-menu.active{
    left: 0;
    top: 69px;
  }
  #contact{
    width: 9rem;
    margin-left: 2.5rem;
  }
  .conta{
    text-align: center;
    /* padding: 50px; */
    /* margin: 10px; */
    margin-left: 20px;
    padding: 0%;
    margin: 0px;
    position: relative;
    left: -3rem;
  }
  
}

/*tab navbar*/
@media screen and (min-width:576px) and (max-width:1356px){
  .header {
    position: fixed;
    height: 131px;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 3%;
    background: transparent;
    border-bottom: #ed7e23 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background 0.4s ease-in-out; 
  }
  
  .header.scrolled {
    background: white; 
  }
  
  
  
  .logo img{
    display: flex;
    width: 320px;
    height: 190px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  
  #contact{
    background: #ed7e23;
    margin-left: 34px;
    color: #fff;
    border-radius:5px;
    padding: 10px 10px;
  
  }
  
  .navbar a{
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 15px;
  
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: #738da8;
  }
}
#main img{
  display: flex;
  width: 120px;
  height: 80px;
}


#head h1 a{
  display: flex;
  padding-right: 20% ;
  
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
.home {
  height: 100vh;
  display: flex;
  align-items:center;
  padding: 0 10%;
  
}
.home-content {
  
  max-width: 600px;
  margin-left: 20px;
  margin-top: 180px;

}
span {
  color: #738da8;
}

.home-content h1{
  font-size: 56px;
  font-weight: 700;
  color:#ed7e23;
}
.home-content p{
  font-size: 16px;
}

.img {
  position:relative;
  top: 0;
  left: 5%;
  height: 600px;
  width: 1000px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

}
#main{
  height:100px;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}



form {
  
  
  margin-top: 50px;
  margin-bottom: 50px;
  width: 600px;
  /*height: 372px;*/
  display: flex;
  flex-direction: column;
}
form input{
  flex:1;
  border: none;
  outline:none;
  border: 2px solid grey;
}

form button{
  background:#ed7e23;
  padding: 10px 30px;
  margin-left: 5px;
  border:none;
  outline: none;
  color: #fff;
  letter-spacing: 1px;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

/* Contact Section
--------------------------------*/
.contact-container{
  width:100%;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}
.contact-container .hero-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-image: url(ContactPageImage.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-position: center;
}
.hero-container p {
  color:black;
}
.hero-container p {
  font-size:30px;
}
.form-control{
  font-size:20px;
  
  border-radius:8px;
  border-style:none;
  padding:9px;
}

.btn {
  width: 140px;
  height: 50px;
  background: linear-gradient(to top, #00154c, #12376e, #23487f);
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  left:186px;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}



.contact-container .hero-container .hero-text .bi{
  font-size:50px;
  color: black;
  padding-right:10px;
  position: absolute;
  bottom: 10px;
  right:10px;

  cursor: pointer;
}
.form-container{
  margin: 166px 491px;
  margin-top: -13px;
}

.team-container , #contact  h2{


  padding: 20px;
  text-align: center;
  font-size: 32px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.team-container-title {
  color:#ed7e23;
}

textarea {
  width: 551px;
  height: 156px;
  
}

.form-group {
  padding:10px;
}


.wrapper {
  
  width: 100%;
  position: relative;
  border:50px;
  padding:105px;
  
}
.wrapper h2{
  font-size: 1.5rem;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #EE8023;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color:#ffffff;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
#left{
  left: 19px;
}
#right{
  right: 19px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  width:240px;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  border-style: solid;
  border-width:thin;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.1rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}



/*--------------------------------------------------------
#Blogs
---------------------------------------------------------------*/
.main{
  width:100vw;
}

.left-column {
  float: left;
  width: 75%;
  padding:22px;
  display:grid;
  grid-template-columns: 2fr 2fr;
  
}

/* Right column */
.right-column {
  float: left;
  width: 25%;
  padding-left: 20px;
  position:relative;
  
 
  
}
/*clears floar after column*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
.blog h2 {
  color: black;
  margin: 6px;
  padding: 2rem;
}

.blog-post-img img{
  width: 100%;
}

.recent-popst-img img{
  width: 100%;
  height:100%;
  object-fit: cover;
  display:flex;
  border-radius: 0.8rem;
}


.blog-container{
  max-width:100%;

  display:flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  
 flex-direction: column;
 min-height: 100vh;
 
  
  
  background-color:#ffffff;
  padding-top:99px;

}




.button-24 {
  background:#ed7e23;
  border: 1px solid #ed7e23;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #ed7e23;
}

.button-24:active {
  opacity: .5;
}
.recent-post{
  width: 100%;
  max-width: 60rem;
  margin: -10px;
  padding: 7px;
  display: flex;
  flex-direction: row;
  border-radius: 0.8rem;
  position: relative;
  right: -10px;
}


.blog-post-img{
  width:100%;
  height:238px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}
.recent-post-img{
  min-width: 9.2rem;
  max-width:9.2rem;
  height: 9.2rem;
  
  position: relative;
}

.blog-post{
  margin: 10px;
  padding: 10px;
}

.blog-post-img img{
  width: 100%;
  height:100%;
  object-fit:cover;
  display: block;
  border-radius: 0.8rem;
} 
.recent-popst-img img{
  width: 100%;
  height:100%;
  object-fit: cover;
  display:flex;
  border-radius: 0.8rem;
}

.recent-post-img img{
  width: 70%;
  height:70%;
  object-fit:cover;
  display: block;
  border-radius: 0.8rem;
}

.blog-post-img::before{
  content: "";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  
  /*box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0,0,0,0.05);*/
  border-radius:  0.8rem;
}



.blog-post-date,.recent-post span{
  display:block;
  color: rgba(0,0,0,0.5);
  font-size:0.6rem;
  font-weight: 800;
  margin: 0.5rem 0;
}

.blog-post-tittle{
  font-size: 1.5rem;
  /*margin: 1.5 rem 0 2rem;*/
  text-transform: uppercase;
  color: #1D426A;
}
.recent-post-title{
  font-size: 1.5rem;
  /*margin: 1.5 rem 0 2rem;*/
  text-transform: uppercase;
  color: #1D426A;
}

.blog-post-text{
  margin-bottom: 3rem;
  font-size:1.09rem;
  color: rgba(0,0,0,0.7);
  margin-right: 10px;
text-align: justify;
}
.recent-post-info a{
  text-decoration: none;
}



@media(max-width:576px){
  .blog-container{
    width:100%;
    flex:0 0 auto;
  }
  .left-column {
    display: flex;
    flex-direction: column;
    width: 110%;
  }
  .right-column {
      display: none;
  }
  
  .blog-post {
    padding: 0 1rem;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    position:relative;
    top:-62px;
  }
  .blog-post a {
    position: relative;
    /* left: -30px; */
  }
 


/* CSS */

  .blog-post-img {
    /* width: 301px; */
    height: 238px;
    /* position: relative; */
    /* left: -3rem; */
  
  }
  .blog-post-img img {
    width: 95%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 0.8rem;
  }
  .blog-post-date{
    display: block;
    color: rgba(0,0,0,0.5);
    font-size: 0.9rem;
    font-weight: 800;
    margin: 0.5rem 0;
    position: relative;
    /* right: 2rem; */
  }
  .blog-post-tittle{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #1D426A;
    position: relative;
    /* right: 2rem; */
  }
  .blog-post-text{
    margin-bottom: 3rem;
    font-size: 1.09rem;
    color: rgba(0,0,0,0.7);
    /* position: relative; */
    /* right: 2rem; */
  }
}

/*tab blog page*/

@media screen and (min-width:576px) and (max-width:1356px){
  .left-column {
        /* float: left; */
        width: 100%;
        padding: 22px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    
  }
  .blog-container{
    width:100vw;
    /* flex:0 0 auto; */
  }
  /*.left-column {
    display: flex;
    flex-direction: column;
    width: 100%;
  }*/
  .right-column {
      display: none;
  }
  
  .blog-post {
    /* padding: 0 1rem; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    position:relative;
    /* top:9px; */
    width:27rem;
  }
  .blog-post a {
    position: relative;
    /* left: 301px; */
  }
  
 


/* CSS */

  .blog-post-img {
    width: 95%;
    height: 100%;
    /* position: relative; */
    /* left: -19rem; */
    margin-left: 0px;
    padding-left: 0px;
  
  }
  .blog-post-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 0.8rem;
    position: relative;
    left: 0px;
  }
  .blog-post-date{
    display: block;
    color: rgba(0,0,0,0.5);
    font-size: 1rem;
    font-weight: 800;
    margin: 0.5rem 0;
    position: relative;
    /* right: 2rem; */
  }
  .blog-post-tittle{
    font-size: 1.9rem;
    text-transform: uppercase;
    color: #1D426A;
    position: relative;
    /* right: 2rem;/ */
    line-height: 2.5rem;
  }
  .blog-post-text{
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: rgba(0,0,0,0.7);
    position: relative;
    /* right: 2rem; */
    line-height: 2.2rem;
  }
}



/*main blog content*/
.left-column-blogcontent {
  float: left;
  width: 75%;
  padding:22px;
 
  
}

/* Right column */
.right-column-blogcontent{
  float: left;
  width: 25%;
  padding-left: 20px;
  position:relative;
  
 
  
}

.main-blog-content{
  padding:6rem;
}
.main-image{
      
    padding: 3rem;
    position:relative;
    display: flex;
    flex-direction: row;
    
      
    padding-left: 20px;
}
.cImage{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding-left: 9rem;
}
.main-image img{
          /* width: 26rem; */
    position: relative;
    /*left: 24rem;*/
}
.cImage img{
  position: relative;
  width: 15rem;
  height: 12rem;
}
.mImage{
  top: 6rem;
  width: 41rem;
  height: 15rem;
}


.blog-title{
  color: #ed7e23;
  letter-spacing: 0.5px;
  text-transform: none;
  margin-left: 20px;
  margin-right: 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 88px;
  padding-bottom: 4rem;
  padding-top: 2rem;
}
.blog-text h3{
  color:#738da8;
  margin-top: 20px;
  margin-bottom: 10px;
  
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.blog-text {
  color: #000;
  
}
.p-mobile{
  display:none;
}
.poster{
  display: flex;
  position: relative;
  left: -59px;
  width: 554px;
  height: 636px;
  bottom: -11rem;
}
.blog-text ul,ol{
  padding: 1rem;
  padding-left: 3rem;
}
.content-image{
  width: 100%;
 
  display: flex;
  flex-direction: row;
}
.content-image img{
  width: 20rem;
  height: 20rem;
  padding: 1rem 1rem;
}

@media(max-width:576px){
  
  .main-blog-content{
    padding: 0rem;
    display: flex;
    flex-direction: column;
    
    min-height:471%;
  }
  .row{
    display:flex;
    flex-direction: column;
  }
  .p-mobile{
    display: flex;
    position: relative;
    left: -16px;
    width: 551px;
    height: 433px;
    bottom: 0rem;
  }
  
  .left-column-blogcontent{
    width:100%;
  }
  .right-column-blogcontent{
    visibility: hidden;
  }
  .main-blog-content{
    padding:0rem;
  }
  .main-image{
        
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    width: 100%;
  }
  .cImage{
    display: flex;
    /* grid-template-columns: 0.5fr 0.5fr; */
    /* grid-template-rows: 1fr 1fr; */
    gap: 1rem;
    padding-left: 3rem;
    flex-direction: column;
    top: 7rem;
    position: relative;
  }
  .main-image img{
    width: 22rem;
    position: relative;
    left: -1rem;
    height: 10rem;
  }
  .cImage img{
    position: relative;
    width: 15rem;
    height: 12rem;
  }
  .mImage{
    top: 6rem;
    width: 41rem;
    height: 15rem;
  }
  
  
  .blog-title{
    color: #ed7e23;
    letter-spacing: 0.5px;
    text-transform: none;
    margin-left: 20px;
    margin-right: 3px;
    font-size: 18px;
    font-weight: 600;
    line-height: 42px;
    padding-bottom: 5rem;
    padding-top: 3rem;
    position: relative;
    top: 3rem;
    
  }
  .blog-text h3{
    color:#738da8;
    margin-top: 20px;
    margin-bottom: 10px;
    
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
  .blog-text {
    color: #000;
    position: relative;
    left: 1px;
    font-size: 0.7rem;
    padding-bottom: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
  }
  .blog-text ul,ol{
    padding: 1rem;
    padding-left: 3rem;
  }
  .content-image{
    width: 100%;
   
    display: flex;
    flex-direction: row;
  }
  .content-image img{
    width: 20rem;
    height: 20rem;
    padding: 1rem 1rem;
  }
}
@media screen and (min-width:576px) and (max-width:1356px){
  .main-blog-content{
    padding:0rem;
  }
  .main-image{
        
    padding: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    height: 525px;
    top: 111px;
  }
  .cImage{
    display: flex;
    /* grid-template-columns: 0.5fr 0.5fr; */
    /* grid-template-rows: 1fr 1fr; */
    gap: 2rem;
    padding-left: 2rem;
    flex-direction: row;
    top: 1rem;
    position: relative;
  }
  /*.main-image img{
    width: 22rem;
    position: relative;
    left: -1rem;
    height: 10rem;
  }*/
  .cImage img{
    position: relative;
    width: 18rem;
    height: 12rem;
  }
  .mImage{
    top: 0rem;
    width: 41rem;
    height: 15rem;
    left: 10rem;
  }
  
  
  .blog-title{
    color: #ed7e23;
    letter-spacing: 0.5px;
    text-transform: none;
    margin-left: 20px;
    margin-right: 3px;
    font-size: 23px;
    font-weight: 600;
    line-height: 42px;
    padding-bottom: 5rem;
    padding-top: 3rem;
    position: relative;
    top: 5rem;
    
  }
  .blog-text h3{
    color: #738da8;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
    line-height: 30px;
  }
  .blog-text {
    color: #000;
    position: relative;
    left: 7px;
    font-size: 1.7rem;
    padding-bottom: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
  }
  .blog-text ul,ol{
    padding: 1rem;
    padding-left: 3rem;
  }
  .content-image{
    width: 100%;
   
    display: flex;
    flex-direction: row;
  }
  .content-image img{
    width: 20rem;
    height: 20rem;
    padding: 1rem 1rem;
  }
}







footer {
  background-color:rgb(236, 90, 17);
  text-align: center;
  /*padding: 1rem;*/
  
}
/* -------------footer section  -------------------------- */

footer {
  background-color: #ed7e23;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: auto;
  height:275px;
}

.footer-container2,
.footer-center,
.footer-container3 {
display: inline-block;
vertical-align: top;
margin: 10px;
}

.footer-container2 {
  width: 25%;
  text-align: left;
  position: relative;
  top: 20px;
}

.footer-container2 h3,
.footer-container3 h3 {
font-size: 1.5em;
margin-bottom: 10px;
}

.footer-container2 p,
.footer-container3 p {
margin: 10px 0;
}

.footer-container2 form {
  display: flex;
  flex-direction: row;
  width: 300px;
  position: relative;
  bottom: 42px;
}

.footer-container2 input.box {
padding: 10px;
border: none;
/* margin-bottom: 10px; */
border-radius: 5px;
width: 300px;
}

.footer-container2 button {
background-color: #f07345;
/* border: none; */
color: white;
padding: 10px;
border-radius: 10px;
cursor: pointer;
}

.footer-container2 button:hover {
background-color: #FF0000;
color: #f1f1f1;

}

.footer-center {
margin-top: 100px;
}

.footer-container1 li a:hover {
transform: translateY(-10px);
}

footer .footer-container1 li a {
font-size: 2em;
color: #fff;
margin: 0 10px;
display: inline-block;
transition: 0.5s;
}

.footer-center {
  bottom:37px;

  width: 31%;
  position: relative;
  left: 37px;
}

footer .menu li a {
font-size: 1.1em;
color: #fff;
margin: 0 10px;
display: inline-block;
text-decoration: none;
opacity: 0.75;
}

footer .menu li a:hover {
opacity: 1.5;
}

.footer-container1 {
display: flex;
justify-content: center;
list-style: none;
padding: 0;

}

.footer-container1 li {
margin: 0 10px;
}

.footer-container1 a {
color: white;
font-size: 1.5em;
text-decoration: none;
}


footer .footer-container2 form button {
padding: 10px;
width: 100px;
height: 38px;
background-color: #fff;
font-size: 13px;
color: #ed7e23;
border: none;
border-radius: 0px 5px 5px 0px;
cursor: pointer;
transition: 0.3s ease;
}

footer .menu li a:hover {
opacity: 1.5;
}

.menu {
display: flex;
justify-content: center;
list-style: none;
padding: 0;
}

.menu li {
margin: 0 5px;
margin-top: 15px;
}

.menu a {
color: white;
text-decoration: none;
font-size: 1em;
}

.footer-container3 {
  font-size: 20px;
  width: 30%;
  text-align: center;
  position: relative;
  left: 45px;
  /* overflow-x: hidden; */
  top: 20px;
  text-align: left;
}



/*.footer-container3 ul {
  list-style: none;
  padding: 0;
}

.footer-container3 li {
margin-bottom: 10px;
}

.footer-container3 li svg {
  vertical-align: middle;
  margin-right: 5px;
}*/
.footer-container3 p{
  font-size: 16px;
}

.bottom-footer {
  margin-top: 20px;
 
  position: relative;
  bottom: 84px;
}

.bottom-footer p {
  margin: 0;
  position: relative;
  top: 22px;

}


/* Responsive Design */
@media (max-width: 576px) {
  footer {
    height: 621px;
  }

  /* .footer-container2,
  .footer-center,
  .footer-container3 {
    display: block;
    width: 68%;
    text-align: center;
    left: 17px;
    position: relative;
  }*/
  .footer-center {
    width: 18rem;
    height: 9rem;
    position: relative;
    /* right: 56px; */
    bottom: 138px;
    left: 12px;
  }

  .footer-container2 {
    width: 84%;
    text-align: center;
    position: relative;
    top: 8px;
    left: -33px;
  }

  .footer-container3 {
    /* bottom: 10px; */
    top: -210px;
    width: 84%;
  }

  .footer-container1 li a:hover {
    transform: translateY(-10px);
  }

  footer .footer-container1 li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  .bottom-footer {
    margin-top: 20px;
    position: relative;
    bottom: 14rem;
  }


  footer .menu li a {
    font-size: 14px;
    color: #fff;
    margin: 0 9px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    /* margin-right: -26px; */
    position: relative;
    bottom: 25px;
  }

  footer .menu li a:hover {
    opacity: 1.5;
  }

  .footer-container1 {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: -13px;
    bottom: 42px;
  }

  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: -13px;
    font-size: 12px;
  }



  .menu a {

    font-size: 1em;
  }

  .footer-container1 li {
    margin: 0 10px;
  }

  .footer-container1 a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }

  .footer-container2 h3,
  .footer-container3 h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    position: relative;
    left: 2rem;
  }

  .footer-container3 h3 {
    /* right: 41px; */
    left: 3rem;
  }

  .fp {
    position: relative;
    left: 31px;
  }

  .footer-container2 p,
  .footer-container3 p {
    margin: 10px 0;
    font-size: 15px;
  }

  .footer-container3 p {
    position: relative;
    right: 21px;
  }


  .footer-container2 form {
    flex-direction: row;
    justify-content: center;
    height: 50px;
    position: relative;
    left: 35px;
  }

  footer .footer-container2 form button {

    height: 40px;
    margin-left: -5px;

  }

  .footer-container2 input.box {
    width: 70%;
    margin-right: 10px;
    height: 40px;
  }

  .footer-container2 button {
    width: 20%;
  }

  .footer-container3 ul {
    text-align: center;

  }

  .footer-container3 li {
    display: inline-block;
    margin: 6px 10px;
    position: relative;
    left: 31px;
    font-size: 1rem;

  }
}


/*@media (max-width: 1100px) {

 

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.footer-container2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1px; */
/*}

.fp{
  text-align:center;
}

.footer-container2 form{
  /* display: inline; */
 /* display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 80px; */
  /*width: 90%;
}


.footer-center{
  width: 80%;
  display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */


/*}

.menu li{
  margin: 0%;
}

.footer-container3{
  width: 90%;
}



.cardList__btn.btn--left {
  left: 29%;
}
.cardList__btn.btn--right {
  right: 29%;
}
.card__content {
  padding: 0.5rem;
}

}*/



/* 
#box-shadow{
  box-shadow: inset 0px 0px 170px  #ed7e23;
  z-index: 5;
} */

















 


.conta{
  text-align: center;
  /* padding: 50px; */
  /* margin: 10px; */
  margin-left: 20px;
  padding: 0%;
  margin: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f29408;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(255, 255, 255, 0.967);
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f39f21;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.white-background {
  /* background-color: white; */
  box-shadow: inset 0px 0px 170px  #ed7e23;
  color: black;
}



.black-background {
  background-color: rgba(0, 0, 0, 0.958);
color: #e6660c;
}
/* 
.gray-background {
  background-image: url(./images/blackbg.png);
  background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
  color: #e6660c;


} */


.white-background .container,
.black-background .container,
.gray-background .container {
  background-color: inherit;
  color: inherit;
}

.black-background .header{

  background-color: rgba(0, 0, 0, 0.858);
  /* color: #23e629; */
  /* z-index: ; */
}
.black-background #box-shadow{
  background-color:black;
  color: white;
}

.black-background p  {
  color: white;
}
.black-background span{
  color: white;
}




.black-background .nav-menu a{
  color: #ed7e23;
}


.black-background h1{
  color: #FFC319;
}


.black-background .recent-post-title{
  color: #FFC319 ;
}
.white-background #box-shadow{
  /* box-shadow: inset 0px 0px 170px  #ed7e23; */
  box-shadow: inset 0px 0px 170px  #ed7e23;
  
}
 




@media (max-width:1356px) and (min-width:576px){
  /*.header{
    height:70px;
  }
  .logo img{
    border-radius: 50%;
    /* height: 100px; */
    /* padding: 14px 0; */
    /* margin-top: 3rem; */
    /* padding-left: 17px; */
    /* right: 10p; */
    /* position: fixed; */
    /*top: -2rem;
    width: 12rem;
    height: 9rem;
    margin: 0;
  }
  .hamburger{
    display:block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 4px;
    flex-direction: column;
    background-color: #ffffff;
    width: 55%;
    /* text-align: center; */
    /*transition: 0.3s;
    height: 51%;
  }
  .nav-item{
    margin:16px 0;

  }
  .nav-menu.active{
    left: 0;
    top: 70px;
  }
  #contact{
    width: 9rem;
    margin-left: 2.5rem;
  }*/
  

    /*.blog-container{
      width:100vw;
      /* flex:0 0 auto; */
    }
    /*.left-column {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .right-column {
        display: none;
    }
    
    .blog-post {
      padding: 0 1rem;
      margin: 20px;
      display: flex;
      flex-direction: column;
      border-radius: 0.8rem;
      position:relative;
      top:-62px;
    }
    .blog-post a {
      position: relative;
      left: -30px;
    }
    
   
  
  
  /* CSS */
  
    /*.blog-post-img {
      width: 60vw;
      height: 238px;
      position: relative;
      /* left: -3rem; */
     /* margin-left: 0px;
      padding-left: 0px;
    
    }
    .blog-post-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
      border-radius: 0.8rem;
      position: relative;
      left: 0px;
    }
    .blog-post-date{
      display: block;
      color: rgba(0,0,0,0.5);
      font-size: 0.9rem;
      font-weight: 800;
      margin: 0.5rem 0;
      position: relative;
      right: 2rem;
    }
    .blog-post-tittle{
      font-size: 1.5rem;
      text-transform: uppercase;
      color: #1D426A;
      position: relative;
      right: 2rem;
    }
    .blog-post-text{
      margin-bottom: 3rem;
      font-size: 1.09rem;
      color: rgba(0,0,0,0.7);
      position: relative;
      /* right: 2rem; */
   /* }
  

  








}*/



@media(min-width:576px) and (max-width:1100px){


 
  .header{
    height:90px;
  }

  
  p{
    text-align: justify;
  }
  /* .logo img{
    border-radius: 50%;
    right: 10px;
    top: -2rem;
    width: 4rem;
    height: 4rem;
    margin: 0;
  } */
  .hamburger{
    display:block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 4px;
    flex-direction: column;
    background-color: #ffffff;
    width: 55%;
    transition: 0.3s;
    height: 51%;
    
  }
  .nav-item{
    margin:16px 0;

  }
  .nav-menu.active{
    left: 0;
    top: 70px;
    height: 23rem;
  }
  #contact{
    width:9rem;
    margin-left:2rem;
  }
  .conta{
    text-align: center;
    /* padding: 50px; */
    /* margin: 10px; */
    margin-left: 20px;
    padding: 0%;
    margin: 0px;
    position: relative;
    left: -3rem;
  }


  .right-column{
    display: none;
  }
  .left-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }









  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.footer-container2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1px; */
}

.fp{
  text-align:center;
}

.footer-container2 form{
  /* display: inline; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 80px; */
  width: 90%;
}


.footer-center{
  width: 80%;
  display: flex;
flex-direction: column;
align-items: center;
/* justify-content: center; */


}

.menu li{
  margin: 0%;
}

.footer-container3{
  width: 90%;
}


}




.blog-post-img:hover{
  transform: translateY(0);
}


.blog-post-img img{
  width: 100%;
  transition: .5s ease;
}
.blog-post-img:hover img{
  transform: scale(1.1);
}

/* .blog-post-img img{
  transform: scale(1.0);
  
} */



.navbar a:hover {
  color: #ed7e23;
}



@keyframes linkHover {
  from {
      color: black;
  }
  to {
      color: #ed7e23;
  }
}



.navbar a {
  position: relative;
  transition: color 0.3s ease;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed7e23;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.navbar a:hover,
.navbar a.active {
  color: #ed7e23;
}




body {
  margin:0;
}

.footer-waves-body {
  position: relative;
  text-align: center;
  background: #ed7e23;
    /* background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); */
  padding-top: 1rem;
}

.footer-waves-content {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px;
  min-height:100px;
  max-height:150px;
}

/* Animation */

.footer-wave-parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.footer-wave-parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.footer-wave-parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.footer-wave-parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.footer-wave-parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*responsive changes*/
@media (max-width: 768px) {
  .footer-waves {
    height:40px;
    min-height:40px;
  }
}


