html, body {
  margin: 0; 
  padding: 0; 
  /* height: 100%;  */
  font-family: Arial, sans-serif;
}
html{
  /* overflow: hidden; */
}
body{
  overflow: auto;
  overflow-x: hidden;
}



/* Header slide-in animation */
.header {
  position: relative;
  animation: slideDown 1s ease-out;
}

@keyframes slideDown {
  from {
      top: -100px;
      opacity: 0;
  }
  to {
      top: 0;
      opacity: 1;
  }
}



.header {
  position: fixed;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 2%;
  margin-right: 50px;
  background: #ffffff;
  border-bottom: #738da8 solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* animation: slideDown 0.5s ease-in-out; */
}

@keyframes slideDown {
  from {
      top: -60px;
  }
  to {
      top: 0;
  }
}

.logo img {
  width: 320px;
  height: 190px;
  margin-top: 40px;
  margin-bottom: 30px;
}

#contact {
  background: #ed7e23;
  color: #fff;
  border-radius: 5px;
  padding: 10px 10px;
  margin-right: 50px;
  transition: background 0.3s ease;
}

#contact:hover {
  background: #d96a1d;
}

/*.about a{
  color: #00BDAE;
}*/
.navbar a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #ed7e23;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ed7e23;
}



.typing-demo {
  /* width: 100%; */
  animation: typing 1s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  /* border-right: 3px solid; */
  font-family: monospace;
  /* font-size: 2em; */
  gap: 0px;
  word-spacing: -15px;
  left: 0px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}


.background {
  background-image: url('../images/eventbg.png');
  /* background-size: cover; */
  background-attachment: fixed;
  background-position: center;
  padding-top: 40px;
  background-position-y: 100px;
  height: calc(100% - 50px);
  overflow-y: scroll;
  /* scroll-snap-type: y mandatory; */
  scroll-behavior: smooth;
  margin-top: 40px;
  /* background-color: #000; */
  /* animation: fadeIn 1s ease-in-out; */
  /* background-color: #000; */
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.content {
  /* height: 100%; */
  /* padding-top: 200px; */
  max-width: 100%;
  color: #fff;
  /* animation: fadeInUp 1s ease-in-out; */
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.content .arjuna {
  border-radius: 8px;
  position: relative;
  left: -35px;
}

.content h2,
.content h3,
.content p,
.about a,
.content .timeline-header,
.content .cash-prize {
  padding-left: 40px;
}

.content button {
  width: 260px;
  height: 50px;
  font-size: 40px;
  cursor: pointer;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #95E9F8;
  color: #1D426A;
  margin-left: 45px;
  transition: background 0.3s ease, transform 0.3s ease;


  font-family: "alliance", mono, sans-serif;
  position: relative;
  z-index: 1;
  
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  text-transform: none; 
  font-weight: 600; 
  font-size: 24px; 
  /* padding: 4px 28px;  */
  height: 56px; 
  border-radius: 10; 
  overflow: hidden; 
  background: transparent; 
  letter-spacing: 0.07em;
  background-color: #95E9F8;
  text-transform: uppercase;
  font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
  /*color: #000; */
  color:#622391;
}
.content a{
  text-decoration: none;
}

.content button:hover {
  background-color: #82d4e1;
  transform: scale(1.05);

  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
  background-position: 58% 50%;
  background-size: 500%;
  color: black;
  transform: scale(1.05);
}

.timeline {
  margin-right: 45px;
  }

.snap {
  scroll-snap-align: start;
}


.timeline-line{
  width: 150%;
  height: 20px;
  border-radius: 10px;
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
  }

  .timeline-vertical{
    width: 20px;
    height: 20px;
    /* border-radius: 10px; */
      background-color: white;
      margin-left: 100px;
      margin-right: 100px;
      position: relative;
      top: 0px;
   
  }

  .time {
    display: flex;
    /* margin-top: 50px; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    position: relative;
    left: 300px;
    gap: 20px;
  }
 

.timeline-header {
  font-size: 2rem;
  margin-bottom: 35px;
  text-align: center;
}

.timeline {
  position: relative;
  width: 80%;
  max-width: 800px;
}

.event-date{
background-color: white;
color: #000;
width: 300px;
height: 120px;
border-radius: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-weight: 500;
font-size: 22px;
margin-top: 0%;
position: relative;
top: -14px;
}

.timeline-event {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  justify-content: flex-start;
  align-items: center;
  /* gap: 20px; */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.timeline-event img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: white;
  margin-bottom: 0px;
  z-index: 1;
 
}

.timeline-event.one {
  animation: fadeIn 0.5s forwards 0.5s;
}

.timeline-event.two {
  animation: fadeIn 0.5s forwards 1s;
}

.timeline-event.three {
  animation: fadeIn 0.5s forwards 1.5s;
}

.cash-prize {
  font-size: 5rem;
  margin-top: 40px;
  text-align: center;
  color: #95E9F8;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards 2s;
}

@keyframes fadeIn {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.timeline-header {
  padding: 5px;
  background-color: white;
  /* border-radius: 20px; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  margin-top: 40px;
  /* margin-left: 45px; */
  font-size: 35px;
  font-weight: 900;
  width: 260px;
  color: #1D426A;
}



.process-header {
  padding: 5px;
  background-color: white;
  /* border-radius: 20px; */
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  margin-top: 40px;
  /* margin-left: 45px; */
  font-size: 35px;
  font-weight: 900;
  width: 500px;
  align-items: center;
  display: flex;
  color: #1D426A;
  position: relative;
  left: -118px;
  padding-left: 100px;
  margin-bottom: 30px;


}

.about a{
  font-size: 25px;
}

.arjuna {
  width: 750px;
  height: 240px;
  position: relative;
  right: 10000px;
  left: -45%;
  padding-top:42px;
}

/* h2{
  position: relative;
  left: 1000px;
  font-size: 20px;
  padding-right: 0px;
  margin-right: 0px;
} */
.content h2 {
  font-size: 60px;
  color: #95E9F8;
  padding-left: 0px;
  padding-right: 0%;
  margin-right: 0%;
  /* max-width: 980px; */
  /* animation: textFadeIn 1s ease-in-out; */
}

@keyframes textFadeIn {
  from {
      opacity: 0;
      transform: translateY(10px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

h3 {
  color: #95E9F8;
  margin-bottom: 0px;
  font-family: Arial, sans-serif;
  font-size: 55px;
  margin-top: 0px;
}

p {
  color: white;
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

ol {
  color: white;
  line-height: 1.5;
  margin-bottom: 0px;
  padding-left: 20px;
  font-family: Arial, sans-serif;
  /* font-weight: 800; */
  margin-left: 50px;
}

ol li {
  margin-bottom: 0px;
  line-height: 1.5;
}

.arrowman2 {
  width: 660px;
  height: 449px;
  position: absolute;
  left: 800px;
  top: 105px;
}

footer {
  background-color: rgb(236, 90, 17);
  text-align: center;
  padding: 1rem;
}

section {
  /* height: 100vh; */
  height: 100%;

  /* padding: 50px; */
}

.faq h3 {
  font-size: 45px;
  /* padding: 20px; */
}

.faq ol {
  /* padding: 10px; */
  font-size: 20px;
  line-height: 1.5;
}

.finale {
  /* padding-top: 70px; */
  /* height: 100vh; */
  height: 100%;

}

.finale ol {
  line-height: 1.5;
  font-size: 24px;
}

.about {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

hr.gradient {
  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
  height: 8px;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-size: 35px;
  /* padding: 10px; */
}

ol {
  /* padding: 10px; */
  font-size: 17.3px;
  line-height: 1.5;
}

.process {
  /* padding-top: 140px; */
  padding-bottom: 100px;
  /* height: 110vh; */
  height: 100%;

  padding-left: 50px;
  scroll-snap-align: start;
}

.processnext {
  /* padding-top: 70px; */
  /* height: 90vh; */
  height: 100%;

  scroll-snap-align: start;
}

.processnext p {
  font-size: 20px;
  /* font-weight: 800; */
}


.main {
  /* height: 75vh; */
  height: 100%;

  scroll-snap-align: start;
  /* padding-top: 140px; */
}

.dates {
  /* height: 100vh; */
  height: 100%;

  padding-left: 0px;
  /* padding-top: 100px; */
  position: relative;
  /* left: -15px; */
 
}

.main button {
  font-family: "alliance", mono, sans-serif;
  position: relative;
  z-index: 1;
  
  display: inline-flex;
  align-items: center; 
  justify-content: center; 
  text-transform: none; 
  font-weight: 600; 
  font-size: 24px; 
  /* padding: 4px 28px;  */
  height: 56px; 
  border-radius: 10; 
  overflow: hidden; 
  background: transparent; 
  letter-spacing: 0.07em;
  background-color: #95E9F8;
  text-transform: uppercase;
  font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
  /*color: #000;*/ 
  /* border: 2px solid #FF7571; */
  
  /* transition: background 0.3s ease, transform 0.3s ease; */
}

.main button:hover {
  background: linear-gradient(269.16deg, #FFE580 -15.83%, #FF7571 -4.97%, #FF7270 15.69%, #EA5DAD 32.43%, #C2A0FD 50.09%, #9867F0 67.47%, #3BF0E4 84.13%, #33CE43 105.13%, #B2F4B6 123.24%);
  background-position: 58% 50%;
  background-size: 500%;
  color: black;
  transform: scale(1.05);
}


@keyframes anim {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.main {
  position: relative;
}



@keyframes linkHover {
  from {
      color: black;
  }
  to {
      color: #ed7e23;
  }
}

.navbar a:hover {
  animation: linkHover 0.3s forwards;
}




@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}










@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.content p {
  animation: fadeInLeft 1s ease-in-out;
}


@keyframes zoomIn {
  from {
      opacity: 0;
      transform: scale(0.8);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.content img {
  animation: zoomIn 1s ease-in-out;
}



@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
      opacity: 0;
      transform: translate3d(0, 3000px, 0);
  }

  60% {
      opacity: 1;
      transform: translate3d(0, -20px, 0);
  }

  80% {
      transform: translate3d(0, 10px, 0);
  }

  to {
      transform: translate3d(0, 0, 0);
  }
}




.navbar a {
  position: relative;
  transition: color 0.3s ease;
}
.main a{
  text-decoration: none;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed7e23;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.event-date span{
  font-weight: 1000;
  color: #2C6087;
  font-size: 25px;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.main button:hover {
  animation: pulse 1s infinite;
}





.content img {
  transition: transform 0.3s ease;
}

.arjuna:hover {
  transform: scale(1.1);

}











.timeline-event {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.timeline-event:hover {
  transform: scale(1.05);
  /* background-color: #f0f0f0; */
  color: #000;
}
.event-date:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}




footer {
  transition: background-color 0.3s ease;
}

footer:hover {
  background-color: #ff7270;
}


.snap{
  display: flex;
  flex-direction: column;

}





















































.process , .dates {
  /* height: 77vh; */
  height: 100%;

}
.about{
  /* height: 45vh; */
  height: 100%;

}
.processnext{
  /* height: 60vh; */
  height: 100%;

}

.faq{
  /* height: 60vh; */
  height: 100%;

}
.finale{
  /* height: 50vh; */
  height: 100%;

}
/**/
.man {
width: 800px;
height: 600px;
position: absolute;
top: 280px;
overflow: hidden;
}
/**/
.bow {
position: absolute;
top: 120px;
left: 345px;
width: 120px;
height: 350px;
animation: bow 8s infinite;
}
.bow__base {
position: absolute;
top: calc(50% - 260px);
right: 0%;
width: 1500px;
height: 520px;
z-index: 100;
border-radius: 70% 30% 30% 70%/50% 50% 50% 50%;
border-top: 15px solid transparent;
border-right: 15px solid #00BDAE;
border-bottom: 15px solid transparent;
border-left: 15px solid transparent;
}
.bow__base::before {
content: "";
position: absolute;
top: calc(50% - 37.5px);
right: -15px;
width: 25px;
height: 75px;
background-image: linear-gradient(to bottom, #2C6087 30%, #F82B48 30%, #F82B48 70%, #00BDAE 70%);
}
.bow__top, .bow__bottom {
position: absolute;
left: 10px;
height: 25px;
width: 12px;
border-radius: 10px;
background: #00BDAE;
z-index: 100;
}
.bow__bottom {
bottom: 0px;
}

.rope {
position: absolute;
top: 5px;
left: 12px;
height: 340px;
}
.rope__top, .rope__bottom {
position: absolute;
height: 175px;
width: 7px;
border-radius: 10px;
background: #555468;
animation: row-top 4s infinite linear, row-h 4s infinite linear;
}
.rope__bottom {
bottom: 0%;
animation: row-bottom 4s infinite linear, row-h 4s infinite linear;
}

.arrow {
position: absolute;
top: calc(50% - 22.5px);
left: calc(50% - 75px);
width: 300px;
height: 45px;
animation: arrow 8s infinite linear, arrow-s 8s infinite linear;
}
.arrow__line {
position: absolute;
width: 280px;
height: 5px;
top: calc(50% - 2.5px);
left: calc(50% - 140px);
z-index: 50;
background: #555468;
border-radius: 5px;
}
.arrow__head {
position: absolute;
top: 8px;
right: 5px;
width: 30px;
height: 30px;
z-index: 50;
background-image: linear-gradient(-45deg, #FF6353 0%, #FF6353 50%, transparent 50%);
transform: rotateZ(-45deg);
}
.arrow__top, .arrow__bottom {
position: absolute;
left: 5px;
width: 50px;
height: 22px;
background-image: linear-gradient(to right, #FF6353 0%, #FF6353 70%, #F82B48 70%);
transform: skewX(30deg);
}
.arrow__bottom {
bottom: 0;
background-image: linear-gradient(to right, #00BDAE 0%, #00BDAE 70%, #2C6087 70%);
transform: skewX(-30deg);
}

.line {
position: absolute;
left: 100%;
top: 40%;
width: 50px;
height: 5px;
background: #555468;
animation: line 8s infinite linear;
}
.line-2 {
top: 60%;
animation-delay: 0.2s;
}

.wall {
position: absolute;
width: 5px;
height: 200px;
top: calc(50% - 100px);
right: -5px;
z-index: 50;
background: #555468;
animation: wall 8s infinite linear;
}

/**/
@keyframes wall {
0%, 80%, 96% {
  right: -10px;
}
82%, 95% {
  right: 0px;
}
}
@keyframes bow {
0%, 22%, 100% {
  top: 120px;
  left: 345px;
}
30% {
  top: 120px;
  left: -50vw;
}
80% {
  top: 150vmax;
  left: 345px;
}
}
@keyframes arrow {
0%, 100% {
  left: calc(50% - 75px);
  transform: rotateZ(0deg);
}
21% {
  left: calc(50% - 170px);
}
24%, 79% {
  left: calc(100% - 350px);
  transform-origin: right;
  transform: rotateZ(0deg);
}
80%, 82%, 84% {
  transform-origin: right;
  transform: rotateZ(-5deg);
  left: calc(100% - 305px);
}
81%, 83%, 85% {
  transform-origin: right;
  transform: rotateZ(5deg);
  left: calc(100% - 305px);
}
86%, 95% {
  transform-origin: right;
  transform: rotateZ(0deg);
  left: calc(100% - 305px);
}
}
@keyframes arrow-s {
0%, 40%, 42%, 44%, 46%, 48%, 60%, 62%, 64%, 66%, 68%, 70% {
  top: calc(50% - 22.5px);
}
41%, 43%, 45%, 47%, 49%, 61%, 63%, 65%, 67%, 69% {
  top: calc(50% - 18px);
}
}
@keyframes row-h {
0%, 12.5%, 44%, 50% {
  height: 175px;
}
42.5% {
  height: 198px;
}
}
@keyframes row-top {
0%, 50% {
  transform-origin: top;
  transform: rotateZ(0deg);
}
40%, 42.5% {
  transform-origin: top;
  transform: rotateZ(30deg);
}
47.5% {
  transform-origin: top;
  transform: rotateZ(-15deg);
}
}
@keyframes row-bottom {
0%, 50% {
  transform-origin: bottom;
  transform: rotateZ(0deg);
}
40%, 42.5% {
  transform-origin: bottom;
  transform: rotateZ(-30deg);
}
47.5% {
  transform-origin: bottom;
  transform: rotateZ(15deg);
}
}
@keyframes line {
0%, 25%, 30.1%, 35.1%, 40.1%, 45.1%, 50.1%, 55.1%, 60.1%, 65.1%, 70.1%, 75.1% {
  left: 100%;
}
30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75% {
  left: -100px;
}
}

h3{
  font-weight: 1000;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 40px;
}
p , li , ol li{
  font-size: 20px;
}


.about h3 {
  /* padding-top: 60px; */
}

.process{
  position: relative;
  /* left: -15px; */
}


@media(max-width:560px) {
 
    .header{
      height:36px;
    }
   
    .logo img{
      /* border-radius: 50%; */
      /* height: 100px; */
      /* padding: 14px 0; */
      /* margin-top: 3rem; */
      /* padding-left: 17px; */
      right: 10p;
      /* position: fixed; */
      top: -2rem;
      width: 70%;
      height: 3.5rem;
      margin: 0;
    }
    .hamburger {
      display: block;
      padding-right: 14px;
    }
  
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
  
    
    .nav-menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 4px;
        flex-direction: column;
        background-color: #ffffff;
        width: 55%;
        transition: 0.3s;
        height: 51%;
    }
  
    .nav-item {
        margin: 16px 0;
    }
  
    .nav-menu.active {
      left: 0;
      /* bottom: 13px; */
      top: 76px;
    }
  
    #contact {
        width: 8rem;
    }
  
  
  

  .hamburger {
      display: block;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
      display: flex;
      position: fixed;
      left: -100%;
      top: 100px;
      gap: 4px;
      flex-direction: column;
      background-color: #ffffff;
      width: 55%;
      transition: 0.3s;
      height: 51%;
  }

  

  .background {
    background-image: url('../images/eventbg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
    padding-top: 40px;
    background-position-y: 60px;
    height: calc(100% - 50px);
    overflow-y: scroll;
    scroll-snap-type: none;
    scroll-behavior: smooth;
    margin-top: 40px;
    overflow: hidden;
    /* background-color: #000; */
    /* animation: fadeIn 1s ease-in-out; */
    /* background-color: #000; */
  }


.time{
  left: 10px;
}

.process-header{
  width: 100px;
}




 
.processnext{
  margin-left: 0px;
  width: 100%;
}
.main{
  margin-left: 0%;
  padding-left: 0px;
}

.content{
  margin-left: 0%;
  padding-left: 0px;
}


section{
  padding-left: 0px;

}


.arjuna{
  padding-top: 100px;
}
.typing-demo{
  /* width: 100% */
  /* font-size: 20px; */
  /* left: ; */
}

.main{
    /* width: 100vw; */
    /* display: grid; */
    /* overflow: hidden; */
    padding: 0%;
    /* padding-top: 100px; */
    margin: 0%;
    height: 100%;
}

.main button {
  font-family: "alliance", mono, sans-serif;
  position: relative;
  z-index: 1;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-weight: 600;
  font-size: 20px;
  /* padding: 4px 28px; */
  height: 56px;
  border-radius: 0;
  overflow: hidden;
  background: transparent;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-feature-settings: 'salt' on, 'ss01' on, 'ss02' on;
 /* color: #fff;*/
  border: 2px solid #FF7571;
 top: 0px;
 left: 0px;
 margin-top: 0px;
  transition: background 0.3s ease, transform 0.3s ease;
}
.about{
    padding: 0%;
    margin: 0%;
    height: 100%;
    /* padding-top: 1000px; */
    padding-bottom: 100px;
}

.main img{
/* width: 100%; */
width: 80%;
}
.process-header{
    width: 80%;
    margin-left: 0px;
    padding-left: 100px;
    left: -70px;
    font-size: 20px;
    padding-right: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    /* padding-left: 0%; */
    /* margin-left: 0%; */
    
}
.timeline-header{
    width: 60%;
    /* padding-top :16px; */
    margin-left: 0px;
    font-size: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    /* position: relative; */
    /* left: -140px; */
    /* padding: ; */
    /* padding: 1px; */
    padding: 0px;
    position: relative;
    left: -10px;
  
}


.cash-prize{
    font-size: 32px;
    display: flex;
    text-align: center;
    align-items: center;
}
.process ol li{
    font-size: 18px;
}
.process{
    height: 100%;
    position: relative;
    /* left: -15px; */
}
.processnext{
   height: 100%;
    /* padding-top: 100px; */
}
.processnext ol {
    font-size: 18px;
}

.finale ol{
    font-size: 18px;
}
.faq h3{
    font-size: 25px;
}
.faq{
    /* padding-top: 100px; */
  
}
.faq ol {
    font-size: 18px;
}

.arrowman2{
  display: none;
}
.timeline-line , .timeline-vertical{
  display: none;
}
.time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}



/* .main , .about , .dates , .process , .processnext, .faq , .finale{
  height: 170vh;
} */

.about{
  height: 100%;
}

.processnext h3{
  width: 90%;
  /* font-size: 3px; */
}
.processnext{
  height: 100%;

}

.main h2{
width: 100%;
font-size: 22px;
/* margin-left: px; */
word-spacing: 0px;
word-wrap: break-word;
/* font-weight: 1000; */
font-weight: 900;
}
.main{
margin-top : 1px;
  /* height: 70vh; */
  height: 100%;
  padding-bottom: 100px;

  /* display: flex; */

}
.main button{
  background-color: #95E9F8;
  /*color: #000;*/
  border-radius: 10px;
  border: none;
  font-size: 25px;
  
  /* justify-content: ; */
}
.arjuna{
  padding-top: 80px;

}
.content h3, .content p, .content a, .timeline-header, .content .cash-prize{
  padding: 20px;

}

.timeline-header{
  padding: 5px;
}

.dates{
  height: 100%;
  width: 100%;
  justify-content: center;
  /* padding: 5px; */
  padding-bottom: 100px;

}
.process{
  padding-left: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 100px;

}

.finale{
  height: 140%;
  padding-bottom: 100px;

}
.faq{
  height: 100%;
  padding-bottom: 100px;

}

.content .arjuna {
  border-radius: 8px;
  position: relative;
  left: 30px;
}

section p , section ol{
  text-align: justify;
}


p{
  font-size: 18px;
}
.finale li{
  font-size: 18px;
}



p , li , ol li{
  font-size: 18px;
}

.processnext p{
  font-size: 18px;
}

h3{
  font-size: 30px;
  margin-left: 20px;
}

.processnext ol , .finale ol , .faq ol, .process ol , .date ol{
  padding-left: 0px;
  margin-left: 0%;
  margin: 30px;
}



.main h2{
  /* align-items: center; */
  /* margin: 10px; */
  /* align-items: jus; */
  text-align: justify;
}

}

/*tab navbar*/
@media screen and (min-width:560px) and (max-width:1456px){
  .header {
    position: fixed;
    height: 6%;
    top: 0;
    left: 0;
    width: 100%;
    /* padding:20px 3%; */
    /* background: transparent; */
    border-bottom: #ed7e23 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background 0.4s ease-in-out; 
  }
  
  .header.scrolled {
    background: white; 
  }
  
  .time{
    left: 200px;
  }
  .timeline-line{
    width: 120%;
  }
 .arrowman2{
  display: none;
 }
  .hamburger {
    display: block;
    padding-right: 14px;
  }



  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
      display: flex;
      position: fixed;
      left: -100%;
      top: 100px;
      gap: 4px;
      flex-direction: column;
      background-color: #ffffff;
      width: 55%;
      transition: 0.3s;
      height: 51%;
  }



  .nav-item {
      margin: 16px 0;
  }


  .nav-menu.active {
    left: 0;
    /* bottom: 13px; */
    top: 76px;
  }



  #contact {
      width: 8rem;
  }




.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 4px;
    flex-direction: column;
    background-color: #ffffff;
    width: 55%;
    transition: 0.3s;
    height: 51%;
}



  
  .logo img{
    display: flex;
    width: 320px;
    height: 190px;
    /* margin-top: 40px; */
    /* margin-bottom: 30px; */
  }
  
  
  #contact{
    background: #ed7e23;
    margin-left: 34px;
    color: #fff;
    border-radius:5px;
    padding: 10px 10px;
  
  }
  
  .navbar a{
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 15px;
  
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: #738da8;
  }
}















@media (max-width: 1024px) and (min-width: 600px){
 
  /*.header{
    height:36px;
  }
  .logo img{
    border-radius: 50%;
    /* height: 100px; */
    /* padding: 14px 0; */
    /* margin-top: 3rem; */
    /* padding-left: 17px; */
    /* right: 10p; */
    /* position: fixed; */
   /* top: -2rem;
    width: 12rem;
    height: 10rem;
    /* margin: 10 */
 /* }
  .hamburger {
    display: block;
    padding-right: 30px;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
      display: flex;
      position: fixed;
      left: -100%;
      top: 100px;
      gap: 4px;
      flex-direction: column;
      background-color: #ffffff;
      width: 55%;
      transition: 0.3s;
      height: 51%;
  }

  .nav-item {
      margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
    /* bottom: 13px; */
    /*top: 76px;
  }

  #contact {
      width: 8rem;
  }




.hamburger {
    display: block;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}*/




.background {
  background-image: url('../images/eventbg.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  padding-top: 40px;
  background-position-y: 60px;
  height: calc(100% - 50px);
  overflow-y: scroll;
  scroll-snap-type: none;
  scroll-behavior: smooth;
  margin-top: 40px;
  overflow: hidden;
  /* background-color: #000; */
  /* animation: fadeIn 1s ease-in-out; */
  /* background-color: #000; */
}


.time{
left: 10px;
}








section{
padding-left: 0px;

}


.timeline-header{
  width: 60%;
  /* padding-top :16px; */
  margin-left: 0px;
  font-size: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* position: relative; */
  /* left: -140px; */
  /* padding: ; */
  /* padding: 1px; */
  padding: 0px;

}
.timeline-line , .timeline-vertical{
display: none;
}
.time{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 50px;

}

.arjuna{
  width: 80vw;
}

.main button{
  margin-left: 70px;
}

.arjuna , .main h2 {
  padding-left: 80px;
  font-size: 5vw;
}

section{
padding: 0px;
margin: 0px;
/* height: 200vh; */
}


.timeline-header{
padding: 5px;
}

.dates{
/* height: 160vh; */
height: 100%;
padding-bottom: 100px;


}


.main{
  /* height: 80vh; */
  height: 100%;
  padding-bottom: 100px;

}
.about{
  /* height: 60vh; */
  height: 100%;
  padding-bottom: 100px;

  padding-top: 90px;
}
.process , .processnext{
  /* height: 100vh; */
  height: 100%;
  padding-bottom: 100px;

}


.main h2{
  width: 100%;
}
.finale , .faq{
  /* height: 90vh; */
  height: 100%;
  padding-bottom: 100px;

}
}


.about{
  padding-bottom: 100px;
  padding-bottom: 100px;

}

section{
  /* padding: 20px; */
  padding-top: 80px;
  /* padding-bottom: 10%; */
  padding-bottom: 80px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.main{
  padding: 20px;
  /* padding-top: 10px; */
}
@media(max-width:560px) {
  .main{
    padding: 10px;
    padding-top: 0px;

  }
  .main img{
    width: 90%;

  }

   .content .arjuna{
    position: relative;
    left: 0px;
  }
}
