@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}




html,body{
  width:100%;
  height:100%;
  color: black;
  background-color: #ffffff;
  margin-top: 0;
  overflow-x: hidden;
  
}



.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  padding:20px 3%;
  background: white;
  border-bottom: #ed7e23 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: background 0.4s ease-in-out; 
  
}

 .logo img{
  display: flex;
  width: 320px;
  height: 190px;
  margin-top: 40px;
  margin-bottom: 30px;
  display: block;
} 



#contact{
  background: #ed7e23;
  margin-left: 100px;
  color: #fff;
  border-radius:5px;
  padding: 10px 10px;

}

.navbar a{
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;

}

.navbar a:hover,
.navbar a.active {
  color: #738da8;
}

.hamburger{
  display:none;
  cursor:pointer;
}

.bar{
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ed7e23;
}

.home-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: 100px;
  /* margin-top: 120px; */
  margin-bottom: 30px;
  margin-top: 20px;
}

.home {
  height: 100%;
  display: flex;
  align-items:center;
  padding: 0 10%;
  
}

.item1 img{
  margin-bottom: 100px;
  width: 1090px;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 130px;
  transition:0.5s ;
  z-index: 1000;
  
}

.item1 img:hover{
  transform: translateY(-8px);
  width: 1080px;

}


.Divider{
  width: 500px;
  transition: 0.5s;
  background-color: transparent;
  border-radius: 30px;
}

.Divider .don img{
  width: 450px;
  height: 140px;
  border-radius: 20px;
  
}



/* .Divider:hover{
  transform: translateY(-10px);
  
} */


.Divider{
  margin-top: 4px;
}


.don2 a h2{
  text-decoration: none;
  color: #ed7e23;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
  font-size: 17px;
  font-weight: 900;
  margin: 5px 5px;
  transition: 0.3s;
  width: 400;

}

.don2 a h2:hover{
  opacity: 1.5;
  color: #e95019;
}

.don2 p{
  font-size: 14px;
  color: rgb(50, 49, 49);
  margin-left: 5px;
  width: 400px;
  font-weight: 400;
}

#mango1{
  margin-top: 48px;
  margin-bottom: 10px;
}



.btn{
  width: 110px;
  background-color: transparent;
  height: 40px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 15px;
  transition: 0.2s;
  border-width: .2px;
  font-weight:600;
  text-align: center;
  margin-left: 8px;
}

#mango{
  margin-bottom: 38px;
}

.btn:hover{
  background-color: #ed7e23;
  color: white;
  border-color: #ed7e23;
}


/* ----------------------------------------footer section  -------------------------- */

footer {
  background-color: #ed7e23;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container2,
.footer-center,
.footer-container3 {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.footer-container2 {
  width: 25%;
  text-align: left;
  position: relative;
  top: 17px;
}

.footer-container2 h3,
.footer-container3 h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-container2 p,
.footer-container3 p {
  margin: 10px 0;
}

.footer-container2 form {
  display: flex;
  flex-direction: row;
  width:300px;
}

.footer-container2 input.box {
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  margin-right:5px;
}

.footer-container2 button {
  background-color: #f07345;
  /* border: none; */
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.footer-container2 button:hover {
  background-color: #FF0000;
  color: #f1f1f1;

}

.footer-center {
  margin-top: 100px;
}

.footer-container1 li a:hover {
  transform: translateY(-10px);
}

footer .footer-container1 li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.footer-center {
  width: 35%;
  position: relative;
  left: 59px;
}

footer .menu li a {
  font-size: 1.1em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1.5;
}

.footer-container1 {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

}

.footer-container1 li {
  margin: 0 10px;
}

.footer-container1 a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}


footer .footer-container2 form button {
  padding: 10px;
  width: 100px;
  height: 41px;
  background-color: #fff;
  font-size: 13px;
  color: #ed7e23;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.3s ease;
}

footer .menu li a:hover {
  opacity: 1.5;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 0 5px;
  margin-top: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.footer-container3 {
  /*font-size: 20px;
  width: 30%;
  text-align: center;*/
  font-size: 20px;
  width: 30%;
  text-align: center;
  position: relative;
  left: 36px;
  /* overflow-x: hidden; */
  top: 17px;
}

.footer-container3 ul {
  list-style: none;
  padding: 0;
}

.footer-container3 li {
  margin-bottom: 10px;
}

.footer-container3 li svg {
  vertical-align: middle;
  margin-right: 5px;
}

.bottom-footer {
  margin-top: 20px;
}

.bottom-footer p {
  margin: 0;

}
/* Responsive Design */
@media (max-width: 576px) {

  .footer-container2,
  .footer-center,
  .footer-container3 {
    display: block;
    width: 68%;
    text-align: center;
    left: 17px;
    position: relative;
  }
  .footer-center{
    width: 19rem;
    height: 9rem;
  }
  .footer-container3 {
        /* bottom: 10px; */
      top: -45px;
  }
  .footer-container1 li a:hover {
    transform: translateY(-10px);
  }
  
  footer .footer-container1 li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  
  
  
  footer .menu li a {
    font-size: 14px;
    color: #fff;
    margin: 0 9px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    /* margin-right: -26px; */
    position: relative;
    bottom: 25px;
  }
  
  footer .menu li a:hover {
    opacity: 1.5;
  }
  
  .footer-container1 {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: 5px;
    bottom: 42px;
  }
  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: 5px;
    font-size: 12px;
  }
  
  
  
.menu a {
  
  font-size: 1em;
}
  .footer-container1 li {
    margin: 0 10px;
  }
  
  .footer-container1 a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  .footer-container2 h3,
  .footer-container3 h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    position: relative;
    left: 2rem;
  }
  .fp{
    position:relative;
    left:31px;
  }
  .footer-container2 p,
  .footer-container3 p {
    margin: 10px 0;
    font-size: 15px;
  }


  .footer-container2 form {
      flex-direction: row;
      justify-content: center;
  }
  footer .footer-container2 form button {
   
    height: 40px;
    margin-left: -5px;
   
  }

  .footer-container2 input.box {
      width: 70%;
      margin-right: 10px;
  }

  .footer-container2 button {
      width: 20%;
  }

  .footer-container3 ul {
      text-align: center;

  }

  .footer-container3 li {
    display: inline-block;
    margin: 6px 10px;
    position: relative;
    left: 31px;
    font-size: 1rem;

  }
}


.home{
  /* width: 700px; */
  
  height: 100%;
  margin-top: 70px;
  padding: 0px;
  }

/* Responsive Design */
@media (max-width: 576px) {

  
  .header{
    height:70px;
  }

  
  p{
    text-align: justify;
  }
  .logo img{
    border-radius: 50%;
    right: 10px;
    top: -2rem;
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
  .hamburger{
    display:block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 4px;
    flex-direction: column;
    background-color: #ffffff;
    width: 55%;
    transition: 0.3s;
    height: 51%;
    
  }
  .nav-item{
    margin:16px 0;

  }
  .nav-menu.active{
    left: 0;
    top: 70px;
    height: 23rem;
  }
  #contact{
    width:9rem;
    margin-left:2rem;
  }
  .conta{
    text-align: center;
    /* padding: 50px; */
    /* margin: 10px; */
    margin-left: 20px;
    padding: 0%;
    margin: 0px;
    position: relative;
    left: -3rem;
  }
  
  .Divider .don2 p{
    width: 300px;
    text-align: justify;
  }
    
  
.home{
  height: 100%;
  margin-top: 70px;
  padding: 0px;
  
  }
  
  .item1 img{
    display: none;
    padding-top: 200px;
    margin-top: 200px;
    padding: 0px;

  }
  
  .home-content{
  margin: 0px;
  padding: 0px;

  }
  
  .Divider{
  width: 90%;
  padding: 0px;
  }
  
  
  .Divider p{
    text-align: justify;
  }


  .don{
  /* width: 100%; */
  width: 50%;

  padding: 0px;

  }
  
  .Divider .don img{
    width: 310px;
    
  }
  
  /*footer .menu li a {
    font-size: 14px;
    color: #fff;
    margin: 0 9px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    /* margin-right: -26px; */
    /*position: relative;
    bottom: 25px;
  }
  
  footer .menu li a:hover {
    opacity: 1.5;
  }
  
  .footer-container1 {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: 5px;
    bottom: 42px;
  }
  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: 5px;
    font-size: 12px;
  }
  
  
  
.menu a {
  
  font-size: 1em;
}
  .footer-container1 li {
    margin: 0 10px;
  }
  
  .footer-container1 a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  .footer-container2 h3,
  .footer-container3 h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    position: relative;
    left: 2rem;
  }
  .fp{
    position:relative;
    left:31px;
  }
  .footer-container2 p,
  .footer-container3 p {
    margin: 10px 0;
    font-size: 15px;
  }


  .footer-container2 form {
      flex-direction: row;
      justify-content: center;
  }
  footer .footer-container2 form button {
   
    height: 40px;
    margin-left: -5px;
  }

  .footer-container2 input.box {
      width: 70%;
      margin-right: 10px;
  }

  .footer-container2 button {
      width: 20%;
  }

  .footer-container3 ul {
      text-align: center;

  }

  .footer-container3 li {
    display: inline-block;
    margin: 6px 10px;
    position: relative;
    left: 31px;
    font-size: 1rem;
  }*/
}

/*tab navbar*/
@media screen and (min-width:767px) and (max-width:1256px){
  .header {
    position: fixed;
    height: 131px;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 3%;
    background: transparent;
    border-bottom: #ed7e23 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background 0.4s ease-in-out; 
  }
  
  .header.scrolled {
    background: white; 
  }
  
  
  
  .logo img{
    display: flex;
    width: 320px;
    height: 190px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  
  #contact{
    background: #ed7e23;
    margin-left: 34px;
    color: #fff;
    border-radius:5px;
    padding: 10px 10px;
  
  }
  
  .navbar a{
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 15px;
  
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: #738da8;
  }
}


.arjn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #34ffea;
	overflow: hidden;
	padding: 7px 11px;
	font-size: 30;
  /* background-color: #8a817a; */
	text-decoration: none;
	letter-spacing: 2px;
  border-radius: 15px;
  font-weight: 1500;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0 20px 50px rgb(255 255 255 / 5%)
}
.arjn:before{
	position: absolute;
	width: 50%;
	top: 2px;
	left: 2px;
	bottom: 2px;
	content: '';
	background: rgb(142 255 240 / 10%);
}

.arjn span:nth-child(1) {
	position: absolute;
	width: 100%;
	height: 5px;
	top: 0;
	left: 0;
	background: linear-gradient(to right,#ed7e23 , #002b9d, #34ffea);
	animation: animate1 2s linear infinite;
}

@keyframes animate1{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(100%);
	}
}

.arjn span:nth-child(2) {
	position: absolute;
	width: 5px;
	height: 200%;
	top: 0;
	right: 0;
	background: linear-gradient(to bottom,#ed7e23,  #002b9d, #34ffea);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate2{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(100%);
	}
}
.arjn span:nth-child(3) {
	position: absolute;
	width: 100%;
	height: 5px;
	left: 0;
	bottom: 0;
	background: linear-gradient(to left,#ed7e23 , #002b9d, #34ffea);
	animation: animate3 2s linear infinite;
}

@keyframes animate3{
	0%{
		transform: translateX(100%);
	}
	100%{
		transform: translateX(-100%);
	}
}

.arjn span:nth-child(4) {
	position: absolute;
	width: 5px;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(to top,#ed7e23, #002b9d, #34ffea);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(-100%);
	}
}


.conta{
  text-align: center;
  margin-left: 20px;
  padding: 0%;
  margin: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f29408;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(255, 255, 255, 0.967);
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #f39f21;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.white-background {

  box-shadow: inset 0px 0px 170px  #ed7e23;
  color: black;
}



.black-background {
  background-color: rgba(0, 0, 0, 0.958);
color: #e6660c;
}


.white-background .container,
.black-background .container,
.gray-background .container {
  background-color: inherit;
  color: inherit;
}

.black-background .header{

  background-color: rgba(0, 0, 0, 0.858);
}

.black-background #box-shadow{
  background-color:black;
  color: white;
}

.black-background p , strong {
  color: white;
}
.black-background span{
  color: #ed7e23;
}




.black-background .nav-menu a{
  color: #ed7e23;
}

.black-background button{
  color: white;
}


.white-background #box-shadow{
  /* box-shadow: inset 0px 0px 170px  #ed7e23; */
  box-shadow: inset 0px 0px 170px  #ed7e23;
  
}
 






/* Responsive Design */
@media (max-width:1256px) and (min-width: 576px) {

  
  /*.header{
    height:70px;
  }
  .logo img{
    border-radius: 50%;
   
    right: 10px;
    
    top: -2rem;
    width: 12rem;
    height: 9rem;
    margin: 0;
  }
  .hamburger{
    display:block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 4px;
    flex-direction: column;
    background-color: #ffffff;
    width: 55%;
    transition: 0.3s;
    height: 51%;
    
  }
  .nav-item{
    margin:16px 0;

  }
  .nav-menu.active{
    left: 0;
    top: 70px;
  }
  #contact{
    width:9rem;
    margin-left:2rem;
  }*/


  .footer-container2,
  .footer-center,
  .footer-container3 , form{
    display: block;
    width: 68%;
    text-align: center;
    left: 15vw;
    position: relative;
  }
  .footer-center{
    width: 23rem;
    height: 9rem;
  }
  .footer-container3 {
        /* bottom: 10px; */
      top: -45px;
  }
  .footer-container1 li a:hover {
    transform: translateY(-10px);
  }
  

  
  footer{
    display: flex;
    flex-direction: column;
  }
.home{
  /* width: 700px; */
  /* overflow: scroll; */
  height: 100%;
  padding: 0px;
  
  }
  
  .item1 img{
    display: none;
    padding-top: 200px;
    margin-top: 200px;
    padding: 0px;

  }
  
  .home-content{
  /* width: 100px; */
  margin: 0px;
  padding: 0px;

  }
  
  .Divider{
  /* width: 50%; */
  /* overflow: scroll; */
  width:90%;
  padding: 0px;

  }
  
  .don , .don2{
  /* width: 100%; */
  width: 100%;
  padding: 0px;

  }
  
  .Divider .don img {
    width: 55vw;
    height: 25vh;
    
  }
  
  
  
  
  footer .menu li a {
    font-size: 14px;
    color: #fff;
    margin: 0 9px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    position: relative;
    bottom: 25px;
  }
  
  footer .menu li a:hover {
    opacity: 1.5;
  }
  
  .footer-container1 {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: 5px;
    bottom: 42px;
  }
  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: 5px;
    font-size: 12px;
  }
  
  
  
.menu a {
  font-size: 1em;
}

  .footer-container1 li {
    margin: 0 10px;
  }
  
  .footer-container1 a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  .footer-container2 h3,
  .footer-container3 h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    position: relative;
    left: 2rem;
  }
  .fp{
    position:relative;
    left:31px;
  }
  .footer-container2 p,
  .footer-container3 p {
    margin: 10px 0;
    font-size: 15px;
  }


  .footer-container2 form {
      flex-direction: row;
      justify-content: center;
  }
  footer .footer-container2 form button {
   
    height: 40px;
    margin-left: -5px;
  }

  .footer-container2 input.box {
      width: 70%;
      margin-right: 10px;
  }

  .footer-container2 button {
      width: 20%;
  }

  .footer-container3 ul {
      text-align: center;

  }

  .footer-container3 li {
    display: inline-block;
    margin: 6px 10px;
    position: relative;
    left: 31px;
    font-size: 1rem;
  }
}








p{
  text-align: justify;
}