@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}

#box-shadow{
  box-shadow: inset 0px 0px 170px  #ed7e23;
  z-index: 5;
}



html,body{
  width:100%;
  height:100%;
  color: black;
  background-color: #ffffff;
  margin-top: 0;
  overflow-x: hidden;
}
.header {
  position: fixed;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  padding:20px 3%;
  background: white;
  border-bottom: #ed7e23 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: background 0.4s ease-in-out; 
  
}

 .logo img{
  display: flex;
  width: 320px;
  height: 190px;
  margin-top: 40px;
  margin-bottom: 30px;
} 


#contact{
  background: #ed7e23;
  margin-left: 100px;
  color: #fff;
  border-radius:5px;
  padding: 10px 10px;

}

.navbar a{
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;

}

.navbar a:hover,
.navbar a.active {
  color: #738da8;
}
.hamburger{
  display:none;
  cursor:pointer;
}
.bar{
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ed7e23;
}
@media(max-width:576px){
  .header{
    height:70px;
  }
  .logo img{
    border-radius: 50%;
    /* height: 100px; */
    /* padding: 14px 0; */
    /* margin-top: 3rem; */
    /* padding-left: 17px; */
    right: 10p;
    /* position: fixed; */
    top: -2rem;
    width: 4rem;
    height: 4rem;
    margin: 0;
  }
  .hamburger{
    display:block;
  }
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
    display: flex;
    position: fixed;
    left: -100%;
    top: 100px;
    gap: 4px;
    flex-direction: column;
    background-color: #ffffff;
    width: 55%;
    /* text-align: center; */
    transition: 0.3s;
    height: 51%;
    
  }
  .nav-item{
    margin:16px 0;

  }
  .nav-menu.active{
    left: 0;
    top: 70px;
  }
  #contact{
    width:9rem;
    margin-left:2rem;
  }
  
}

.home-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
  margin-left: 20px;
  margin-top: 120px;
  margin-bottom: 50px;
}

.home {
  height: 100vh;
  display: flex;
  align-items:center;
  padding: 0 10%;
  
}

.item1 img{
  margin-bottom: 300px;
  width: 1000px;
  margin-left: 80px;
  margin-bottom: 0px;
  margin-top: 150px;
  
}



.Divider{
  width: 500px;

}

.Divider .don img{
  width: 500px;
  height: 150px;
  border-radius: 20px;
}

.Divider{
  margin-top: 50px;
  align-text:center;
  
 
}

.don2 a h2{
  text-decoration: none;
  color: #ed7e23;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
  font-size: 23px;
}

.don2 a h2:hover{
  opacity: 1.5;
  /* font-size: 24px; */
  color: #e95019;
}

.don2 p{
  font-size: 15px;
  color: rgb(50, 49, 49);
}

.don2 p:hover{
  color:black;
}


/* -------------footer section  -------------------------- */

footer {
  background-color: #ed7e23;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container2,
.footer-center,
.footer-container3 {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.footer-container2 {
  width: 25%;
  text-align: left;
  position: relative;
  top: 17px;
}

.footer-container2 h3,
.footer-container3 h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-container2 p,
.footer-container3 p {
  margin: 10px 0;
}

.footer-container2 form {
  display: flex;
  flex-direction: row;
  width:300px;
}

.footer-container2 input.box {
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 300px;
  margin-right:5px;
}

.footer-container2 button {
  background-color: #f07345;
  /* border: none; */
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.footer-container2 button:hover {
  background-color: #FF0000;
  color: #f1f1f1;

}

.footer-center {
  margin-top: 100px;
}

.footer-container1 li a:hover {
  transform: translateY(-10px);
}

footer .footer-container1 li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.footer-center {
  width: 35%;
  position: relative;
  left: 59px;
}

footer .menu li a {
  font-size: 1.1em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

footer .menu li a:hover {
  opacity: 1.5;
}

.footer-container1 {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

}

.footer-container1 li {
  margin: 0 10px;
}

.footer-container1 a {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}


footer .footer-container2 form button {
  padding: 10px;
  width: 100px;
  height: 41px;
  background-color: #fff;
  font-size: 13px;
  color: #ed7e23;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: 0.3s ease;
}

footer .menu li a:hover {
  opacity: 1.5;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 0 5px;
  margin-top: 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.footer-container3 {
  /*font-size: 20px;
  width: 30%;
  text-align: center;*/
  font-size: 20px;
  width: 30%;
  text-align: center;
  position: relative;
  left: 36px;
  /* overflow-x: hidden; */
  top: 17px;
}

.footer-container3 ul {
  list-style: none;
  padding: 0;
}

.footer-container3 li {
  margin-bottom: 10px;
}

.footer-container3 li svg {
  vertical-align: middle;
  margin-right: 5px;
}

.bottom-footer {
  margin-top: 20px;
}

.bottom-footer p {
  margin: 0;

}

/* Responsive Design */
@media (max-width: 576px) {

  .footer-container2,
  .footer-center,
  .footer-container3 {
    display: block;
    width: 68%;
    text-align: center;
    left: 17px;
    position: relative;
  }
  .footer-center{
    width: 19rem;
    height: 9rem;
  }
  .footer-container3 {
        /* bottom: 10px; */
      top: -45px;
  }
  .footer-container1 li a:hover {
    transform: translateY(-10px);
  }
  
  footer .footer-container1 li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  
  
  
  footer .menu li a {
    font-size: 14px;
    color: #fff;
    margin: 0 9px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
    /* margin-right: -26px; */
    position: relative;
    bottom: 25px;
  }
  
  footer .menu li a:hover {
    opacity: 1.5;
  }
  
  .footer-container1 {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: 5px;
    bottom: 42px;
  }
  .menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: relative;
    left: 5px;
    font-size: 12px;
  }
  
  
  
.menu a {
  
  font-size: 1em;
}
  .footer-container1 li {
    margin: 0 10px;
  }
  
  .footer-container1 a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  .footer-container2 h3,
  .footer-container3 h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    position: relative;
    left: 2rem;
  }
  .fp{
    position:relative;
    left:31px;
  }
  .footer-container2 p,
  .footer-container3 p {
    margin: 10px 0;
    font-size: 15px;
  }


  .footer-container2 form {
      flex-direction: row;
      justify-content: center;
  }
  footer .footer-container2 form button {
   
    height: 40px;
    margin-left: -5px;
   
  }

  .footer-container2 input.box {
      width: 70%;
      margin-right: 10px;
  }

  .footer-container2 button {
      width: 20%;
  }

  .footer-container3 ul {
      text-align: center;

  }

  .footer-container3 li {
    display: inline-block;
    margin: 6px 10px;
    position: relative;
    left: 31px;
    font-size: 1rem;

  }
}















