@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    
}

body{
    background-image: url(./images/5.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
   
    
}

h1 {
    white-space: nowrap;
    color: aliceblue;
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out;
}

.header h1{
    font-size: 60px;
    margin-top:  50px;
    margin-bottom: 12px;
}


.header-para{
    color: rgb(142, 223, 228);
    font-size: 25px;
    text-align: center;   
    animation: fadeIn 1s ease-in-out;
}


.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: slideIn 1s ease-in-out;
}

.card img{
    width: 100%;
    height: 280px;
    border-radius: 50px;
    margin-top: 50px;
    transition: .6s;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.card .cards img:after{
    content: '';
    position: absolute;
    top: 99.5%;
    left: 0;
    background-color: rgb(251, 217, 0);
    height: 5px;
    width: 0;
    transition: .6s;
}

.card .cards:hover:after{
    width: 100%;
}





.div0{
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: .6s;
    color: #fff;
}

.card .cards:hover .card{
    top:0;
}


.card .cards .icon{
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
    transition: .6s;
}

.div0 .socials .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.div0 .socials .icon:hover i{
    color: #1c1c1c;
}

.div0 .socials .icon:hover{
    background-color: #fff;
    transform: translateY(-8px);
}


.div0 .socials{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}



.layer h2{
    color: rgb(142, 223, 228);
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.layer p{
    color: aliceblue;
    text-align: center;
    font-size: 21.3px;
    margin-top: 3px;
}

.para{
    text-align: center;
    font-size: 25px;
    color: aliceblue;
    margin-top: 30px;
    animation: fadeIn 1s ease-in-out;
    
}


.card {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 10px;  */
    /* gap: 25px; */
}

.card img {
    width: 500px;
    height: 330px;
    border-radius: 50px;
    transition: transform 0.3s ease-in-out;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    border-width: 0px;
}

/* .card:hover img {
    transform: scale(1.05);
} */


#apple{
    margin-top: 36px;
    gap: 220px;

    
}

#apple img{
    width: 340px; 
    height: 290px;
    
}

#lemon img{
    width: 300px; 
    height: 260px;
    margin-left: 20px;
}

.layer {
    position: relative;
}


.founders101{
    position: absolute;
    top: -35px;
    left: -32px;
    
}

.card .layer .founders101 {
    width: 370px !important;
    height: 310px !important;
}


.tech101{
    position: absolute;
    top: -40px;
    left: -70px;
}

#VAR{
    width: 490px !important;
    left: -98px;
    height: 300px !important;
    top: -50px;
}

.card .layer .tech101 {
    width: 450px !important;
    height: 290px !important;
}

.mounadip101{
    position: absolute;
    top: -40px;
    left: -40px;
    width: 380px !important;
    height: 290px !important;
    
}

.siddhardth101{
    position: absolute;
    top: -40px;
    left: -40px;
    width: 380px !important;
    height: 290px !important;
}

.udayanD101{
    position: absolute;
    top: -70px;
    left: -50px;
    width: 400px !important;
    height: 320px !important;
}



.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    
}



.social-icons a{
    text-decoration: none;
    color: ghostwhite;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s;
    transition:transform 0.3s ease;
    padding-top:2px ;
    
}


.social-icons a:hover {
    color: #e4405f; /* Instagram color */
    transform: translateY(-2px);
    
  }
  
  
  
.social-icons a:hover:nth-child(2) {
    color: #0077b5; /* LinkedIn color */
    
  }



@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}


.fade-in {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.fade-out {
    opacity: 1;
    animation: fadeOut 1s forwards;
}





@media (max-width: 576px) {
    .header h1 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .header-para {
        font-size: 16px;
        margin-top: 5px;
    }

    .card {
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
        /* margin: 20px 10px; */
    }
    #lemon img{
        width: 140px;
        height: 110px;
        margin-top: 10px;
    }

    .card .layer .tech101 {
        width: 230px !important;
        height: 125px !important;
    }
    .card .layer #VAR{
        width: 220px !important;
        height: 125px !important;
    }
    #VAR{
        top: -15px;
        left: -40px;
    }

    .tech101{
        top: -15px;
        left: -40px;
    }
    
    .card .layer .founders101 {
        width: 200px !important;
        height: 125px !important;
    }

    .founders101{
        top: -15px;
        left: -30px;
        
    }
    .social-icons{
        font-size: 13px;
    }

    #apple{
        gap: 5px;
        margin-top: 5px;
    }

    .mounadip101{
       
        top: -15px;
        left: -30px;
        
        
    }

    .card .layer .mounadip101{
        width: 200px !important;
        height: 125px !important;
    }
    
    .siddhardth101{
       
        top: -15px;
        left: -30px;
        
    }
    .card .layer .siddhardth101{
        width: 200px !important;
        height: 125px !important;
    }
    
    .udayanD101{
        top: -15px;
        left: -30px;
    }

    .card .layer .udayanD101{
        width: 200px !important;
        height: 125px !important;
    }

    #apple img{
        width: 140px;
        height: 110px;
        margin-top: 10px;
        
    }

    .layer h2 {
        font-size: 15px;
    }

    .layer p {
        font-size: 13px;
        margin-top: 5px;
    
    }

    .para {
        font-size: 14px;
        margin: 20px 50px;
        /* white-space: nowrap; */
        line-height: 1.5;
        text-align:justify ;
        margin-top: 10px;
    }
}
