/*@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

:root {
    --card-width: 300px;
    --card-height:500px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html , body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background: rgb(255,255,255);
background-image:url(//pages/images/citc.png);
    overflow: hidden;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}





.cardList {
    position: absolute;
    width: calc(3* var(--card-width));
    height: auto;
    
}

.cardList__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.cardList__btn.btn--left {
    left: -5%;
}

.cardList__btn.btn--right {
    right: -5%;
}

.icon {
    width: 100%;
    height: 100%;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
    
}

.card {
    --card-translateY-offset: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
  
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration)
        var(--card-transition-easing);
    user-select: none;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow:0px 6px 9px 0px grey;
    
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: opacity var(--card-transition-duration)
        var(--card-transition-easing);
    opacity: calc(1 - var(--opacity));
}



.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: px solid #ed7e23; */
}

.card__content {
    padding: 1rem;
}

.card__content h2 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card__content p {
    font-family: 'Poppins',sans-serif;
    font-size: 10px;
    margin-bottom: 1rem;
}

.card__link {
    /* font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    color: #007bff; */
    /* text-decoration: none; */
}


.prev {
    --card-rotation-offset: 0deg;
    --card-translateX-offset: -100%;
    --card-scale-offset: 0.6;
    --card-translateY-offset: -1rem;
    --opacity: 0.4;
    z-index: 1;
}


.nxtnxt{
    --card-rotation-offset: 0deg;
    --card-translateX-offset: 100%;
    --card-scale-offset: 0.6;
    --card-translateY-offset: -1rem;
    --opacity: 0.4;
    z-index: 1;
}

.current--card {
    --card-rotation-offset: 0;
    --card-translateX-offset: 0%;
    --card-scale-offset: 1;
    --card-translateY-offset: 0;
    --opacity: 1;
    z-index: 3;
}





.next--card {
    --card-rotation-offset: 0deg;
    --card-translateX-offset: 50%;
    --card-translateY-offset: -1rem;
    --card-scale-offset: 0.8;
    --opacity: 0.5;
    z-index: 2;
}


/* .previous--card {
    --card-rotation-offset: 0deg;
    --card-translateX-offset: -50%;
    --card-translateY-offset: -1rem;
    --card-scale-offset: 0.8;
    --opacity: 0.5;
    z-index: 2;
} */

.loading__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 500;
}

.loader--text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.loader {
    width: 5rem;
    height: 5rem;
    position: relative;
}

.loader span {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: loader 1.5s ease infinite;
}

.loader span:nth-child(1) {
    border-color: #fff #fff transparent transparent;
    animation-delay: -0.75s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.support {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    /* gap: 1rem; */
}

.support a {
    color: #fff;
    font-size: 2rem;
}

.support a:hover {
    color: #ffb3b3;
}


/*.header {
    width:100%;
    padding: 20px 3%;
    justify-content: space-between;
    height:80px;
   
    z-index:1;
    background:#fff;
    box-shadow:0px 6px 9px 0px rgba(0,0,0,0.06);
    align-items: center !important;
    position: fixed; 
    display:flex !important;
    top: 0px;
   }

   .logo {
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
  }

  .navbar a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
  
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: #738da8;
  }*/
  

  footer {
    background-color:rgb(236, 90, 17);
    text-align: center;
    padding: 1rem;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

.header {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 20px 3%; */
    background: #ffffff;
    border-bottom: #738da8 solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo img {
    display: flex;
    width: 320px;
    height: 190px;
    /* margin-top: 40px; */
    /* margin-bottom: 30px; */
}


#contact {
    background: #ed7e23;
    margin-left: 38px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 10px;

}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    font-family: 'Poppins',sans-serif;
}

.navbar a:hover,
.navbar a.active {
    color: #738da8;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ed7e23;
}

@media(max-width:576px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 4px;
        flex-direction: column;
        background-color: #ffffff;
        width: 55%;
        /* text-align: center; */
        transition: 0.3s;
        height: 51%;
    }

    .nav-item {
        margin: 16px 0;

    }

    .nav-menu.active {
        left: 0;
    }

    #contact {
        width: 9rem;
    }

}

:root {
    --card-width: 300px;
    --card-height: 500px;
    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}


body {
    width: 100;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    background: rgb(255, 255, 255);
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(237, 126, 35, 1) 97%, rgba(255, 255, 255, 1) 100%); */
    overflow: hidden;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.app {

    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.cardList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: auto;
}

.cardList__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.cardList__btn.btn--left {
    left: -5%;
}

.cardList__btn.btn--right {
    right:-5%;
}

.icon {
    width: 100%;
    height: 100%;
}

.icon svg {
    width: 100%;
    height: 100%;
    /* border: 2px solid #ed7e23; */
    border-radius: 50%;
    background-color: #ed7e23;
}

.cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
 
 /* margin-top: 60px;   */
}

.card {
    /* --card-translateY-offset: 100vh; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset))
        translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset))
        scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
    user-select: none;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
}

/* .card__image {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 260px;
    height: 30%;
    
} */

.card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__content {
    /* padding: 1rem; */
}

.card__content h2 {
    font-family: 'Poppins',sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card__content p {
    font-family: 'Poppins',sans-serif;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

/* .card__link { */
    /* font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    color: #007bff; */
    /* text-decoration: none; */
/* } */

.hidden--card {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) translateX(0) translateY(0) scale(0);
}

.previous--card {
    --card-rotation-offset: 0deg;
    --card-translateX-offset: -50%;
    --card-scale-offset: 0.8;
    --card-translateY-offset: -1rem;
    --opacity: 0.5;
    z-index: 2;
}

.next--card {
    --card-rotation-offset: 0deg;
    --card-translateX-offset: 50%;
    --card-translateY-offset: -1rem;
    --card-scale-offset: 0.8;
    --opacity: 0.5;
    z-index: 2;
}

.current--card {
    --card-rotation-offset: 0;
    --card-translateX-offset: 0%;
    --card-scale-offset: 1;
    --card-translateY-offset: 0;
    --opacity: 1;
    z-index: 3;
    
}

.loading__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 500;
}

.loader--text {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 2rem;
}

.loader {
    width: 5rem;
    height: 5rem;
    position: relative;
}

.loader span {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: loader 1.5s ease infinite;
}

.loader span:nth-child(1) {
    border-color: #fff #fff transparent transparent;
    animation-delay: -0.75s;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*.header {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 3%;
    background: #ffffff;
    border-bottom: #738da8 solid 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  .logo img{
    display: flex;
    width: 320px;
    height: 190px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  #contact{
    background: #ed7e23;
    color: #fff;
    border-radius:5px;
    padding: 10px 10px;
  
  }
  
  .navbar a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
  
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: #738da8;
  }*/
  /* Media Query for Mobile Devices (up to 576px width) */

/* Responsive Styles for Cards */


/* Media Query for Mobile Devices (up to 576px width) */

/* Media Query for Mobile Devices (up to 576px width) */

.hamburger{
    display:none;
    cursor:pointer;
  }
  .navbar a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
  
  }
  .card__image img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* or 'contain' depending on your requirement */
}
  
.navbar a:hover,
.navbar a.active {
  color: #738da8;
}

@media(max-width:600px){
    .hamburger{
      display:block;
    }
    .header{
        /* height: 40px; */
        /* overflow: ; */
        /* transform: scaleY(0.8); */
        padding-left: 2px;
        padding-right: 3px;

    }
  .logo img{
    height: 30%;
  }
    .hamburger.active .bar:nth-child(2){
      opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .nav-menu{
      display: flex;
      position: fixed;
      left: -100%;
      top: 100px;
      gap: 4px;
      flex-direction: column;
      background-color: #ffffff;
      width: 55%;
      /* text-align: center; */
      transition: 0.3s;
      height: 51%;
    }
    .nav-item{
      margin:16px 0;
  
    }
    .nav-menu.active{
      left:0;
    }
    #contact{
      width:9rem;
    }
    .cardList__btn.btn--left {
        left: 29%;
    }
    .cardList__btn.btn--right {
        right: 29%;
    }
    .card__content {
        padding: 0.5rem;
    }
    
    :root {
        --card-width: 270px;
        --card-height: 460px;
        /* --card-transition-duration: ;
        --card-transition-easing: ease; */
        
    }
   
    
  }
  

  